<div class="row valign-wrapper" style="margin-top:18px;">
  <div class="col s3">
    <img src="images/canteens/siit.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
  </div>
  <div class="col s9">
    <span class="black-text">
      โรงอาหาร SIIT
    </span>
  </div>
</div>

<div class="row courts">
  <div class="col s4" ng-repeat="court in courts">
    <a href="#/canteens/siit/{{$index}}">
      <img class="responsive-img" ng-src="images/canteens/siit/{{$index}}.jpg">
    </a>
  </div>
</div>
