    <div class="row valign-wrapper" style="margin-top:18px;">
      <div class="col s3">
        <img src="canteens/eng.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
      </div>
      <div class="col s9">
        <span class="black-text">
          Engineer Canteen
        </span>
      </div>
    </div>

    <div class="row courts">
      <div class="col s4" ng-repeat="court in courts">
        <a ng-if="$index!=0" href="#/canteens/eng/{{$index}}">
          <img class="responsive-img" ng-src="canteens/eng/{{$index}}.jpg">
        </a>
      </div>
    </div>
