<div class="container" ng-controller="allCtrl">
    <div class="row valign-wrapper" style="margin-top:18px;">
        <div class="col s3">
            <img src="canteens/{{route}}.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s9">
      <span class="black-text">
        {{name}}
      </span>
        </div>
    </div>
    <div class="row menus">
        <div class="col s4" ng-repeat="menu in canteen">
            <a href="#/{{menu}}">
            <img class="responsive-img" ng-src="{{menu}}.jpg">
        </a>
        </div>
    </div>
</div>
