<style>
  .map {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>

<div class="container" ng-controller="canteensCtrl">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img ng-src="canteens/jc.jpg">
          <span class="card-title">โรงอาหาร JC</span>
        </div>
        <div class="card-action">
          <a href="#/jc/random">สุ่มเมนู</a>
          <a href="#/jc/all">ดูเมนูทั้งหมด</a>
          <a href="#/canteens/jc">ร้านค้า</a>
        </div>
        <!--JC Map-->
        <ul class="collapsible map" data-collapsible="expandable">
          <li>
            <div class="collapsible-header"><a href="https://www.google.co.th/maps/place/%E0%B8%A8%E0%B8%B9%E0%B8%99%E0%B8%A2%E0%B9%8C%E0%B8%AD%E0%B8%B2%E0%B8%AB%E0%B8%B2%E0%B8%A3+sc/@14.0697409,100.6039363,18.5z/data=!4m2!3m1!1s0x0000000000000000:0x88c0a114552ba116?hl=en"><i class="material-icons">place</i>แผนที่</a></div>
          </li>
        </ul>
      </div>
    </div>
    <!--SC Map-->
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img ng-src="canteens/sc.jpg">
          <span class="card-title">โรงอาหาร SC</span>
        </div>
        <div class="card-action">
          <a href="#/sc/random">สุ่มเมนู</a>
          <a href="#/sc/all">ดูเมนูทั้งหมด</a>
          <a href="#/canteens/sc">ร้านค้า</a>
        </div>
        <ul class="collapsible map" data-collapsible="expandable">
          <li>
            <div class="collapsible-header"><a href="https://www.google.co.th/maps/place/%E0%B8%AA%E0%B8%B2%E0%B8%95%E0%B8%A3%E0%B9%8C+%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B8%AD%E0%B8%B2%E0%B8%AB%E0%B8%B2%E0%B8%A3/@14.0697409,100.6039363,18.5z/data=!4m2!3m1!1s0x0000000000000000:0x076343d8deb70229?hl=en"><i class="material-icons">place</i>แผนที่</a></div>
          </li>
        </ul>
      </div>
    </div>
    <!--Engineer Map-->
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img ng-src="canteens/eng.jpg">
          <span class="card-title">โรงอาหาร วิศวะ</span>
        </div>
        <div class="card-action">
          <a href="#/sc/random">สุ่มเมนู</a>
          <a href="#/eng/all">ดูเมนูทั้งหมด</a>
          <a href="#/canteens/eng">ร้านค้า</a>
        </div>
        <ul class="collapsible map" data-collapsible="expandable">
          <li>
            <div class="collapsible-header"><a href="https://www.google.com/maps/place/14°04'10.5%22N+100°36'26.0%22E/@14.069588,100.6050453,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0?hl=en"><i class="material-icons">place</i>แผนที่</a></div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
