<div class="container" ng-controller="courtsCtrl" style="margin-top:50px;">

  <span class="grey-text light" style="font-size:48px;"><u style="text-decoration:none;border-bottom:2px solid grey">SIIT</u> FOOD COURTS & CANTEEN</span>

  <div class="row">
      <div class="col s12 m4 l4 court">
        <a href="#/courts/menus">
          <img class="court-img"ng-src="images/1.jpg">
          <div class="row court-info">
            <div class="col s12">
              <span class="grey-text light">Breakfast, Lunch</span>
              <h5 class="black-text">SIIT Canteen</h5>
              <p>Easy, impressive and delicious</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m4 l4 court">
        <img class="court-img"ng-src="images/2.jpg">
        <div class="row court-info">
          <div class="col s12">
            <span class="grey-text light">Breakfast</span>
            <h5>UFM</h5>
            <p>Easy, impressive and delicious</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4 court">
        <img class="court-img"ng-src="images/4.jpg">
        <div class="row court-info">
          <div class="col s12">
            <span class="grey-text light">Breakfast</span>
            <h5>UFM</h5>
            <p>Easy, impressive and delicious</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6 court">
        <img class="court-img"ng-src="images/5.jpg">
        <div class="row court-info">
          <div class="col s12">
            <span class="grey-text light">Breakfast</span>
            <h5>UFM</h5>
            <p>Easy, impressive and delicious</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6 court">
        <img class="court-img"ng-src="images/6.jpg">
        <div class="row court-info">
          <div class="col s12">
            <span class="grey-text light">Breakfast</span>
            <h5>UFM</h5>
            <p>Easy, impressive and delicious</p>
          </div>
        </div>
      </div>
  </div>
</div>
