<div class="container" ng-controller="courtCtrl" style="margin-top:18px;">
  <div class="row valign-wrapper" style="margin-top:18px;">
    <div class="col s3">
      <img src="canteens/{{canteen}}/{{court}}.jpg" alt="" class="circle responsive-img materialboxed"  materialboxed> <!-- notice the "circle" class -->
    </div>
    <div class="col s9">
      <span class="black-text">
        {{detail['name']}}
      </span>
    </div>
  </div>

  <div class="row menus">
    <div class="col s4" ng-repeat="menu in detail['menus']">
      <a href="#/canteens/{{canteen}}/{{court}}/{{$index+1}}">
        <img class="responsive-img" ng-src="canteens/{{canteen}}/{{court}}/{{$index+1}}.jpg">
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 card-to-canteen">
    <a href="#/canteens/jc">
      <div class="card">
        <div class="card-image">
          <img ng-src="canteens/jc.jpg">
          <span class="card-title">JC Canteen</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m6 card-to-canteen">
    <a href="#/canteens/sc">
      <div class="card">
        <div class="card-image">
          <img ng-src="canteens/sc.jpg">
          <span class="card-title">SC Canteen</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m6 card-to-canteen">
    <a href="#/canteens/sc">
      <div class="card">
        <div class="card-image">
          <img ng-src="canteens/sc.jpg">
          <span class="card-title">Engineer Canteen</span>
        </div>
      </div>
    </a>
  </div>
</div>