<!--tabs-->
<div class="row">
    <div class = "col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#tab1">เมนูยอดนิยม</a></li>
        <li class="tab col s3"><a href="#tab2">เมนูควบคุมน้ำหนัก</a></li>
        <li class = "tab col s3"><a href="#tab3">เมนูสุขภาพดี๊ดี</a><li>
      </ul>
    </div>
  </div>
<div class="container" ng-controller="courtsCtrl" style="margin-top:50px;">

  <span class="grey-text light" style="font-size:48px;">SIIT Canteen Menu</span>
  <div class="row">
    <!-- Left Column -->
    <div class="row col s12 m5">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="product collapsible-header">
            <img ng-src="images/menu1.jpg">
            <div class="caption">
              <div class="box">
                <div class="box_left">
                  <h5>345 KCal.</h5>
                </div>
                  <div class="box_right">
              <p class="small">SIIT Canteen</p>
              <h5><a href="#">ผัดกะเพราหมูกรอบ</a></h5>
              <p>Protein:20.3กรัม</p>
              <p>Carbohydrate:5.9 กรัม</p>
              <p>Fat:29.6 กรัม</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="collapsible-body">
            <p>หมูกรอบ 50 กรัม</p>
            <p>ใบกระเพรา 10 กรัม</p>
            <p>น้ำมันหอย 5 ช้อนชา</p>
          </div>
        </li>
      </ul>

      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="product collapsible-header">
            <img ng-src="images/menu3.jpg">
              <div class="caption">
                <div class="box">
                  <div class="box_left">
                    <h5>345 Kcal.</h5>
                  </div>
                  <div class="box_right">
                    <p class="small">SIIT Canteen</p>
                    <h5><a href="/#">สุกี้น้ำ</a></h5>
                    <p>Protein:20.3 กรัม</p>
                    <p>Carbohydrate:5.9 กรัม</p>
                    <p>Fat:29.6 กรัม</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapsible-body">
            <p>เนื้อหมูหมัก 50 กรัม</p>
            <p>ไข่ไก่ 1 ฟอง</p>
            <p>ผักบุ้งจีน 30 กรัม</p>
            <p>ผักกาดขาว 70 กรัม</p>
            <p>ต้นหอม 15 กรัม </p>
            <p>ขึ้นฉ่าย 15 กรัม</p>
            <p>น้ำซุป 300 มิลลิลิตร</p>
            <p>น้ำจิ้มสุกี้ 1 1/2 ช้อนโต๊ะ</p>
          </div>
        </li>
      </ul>
    </div>


    <!-- Right Column -->
    <div class="row col s12 m5 offset-m2">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="product collapsible-header">
            <img ng-src="images/menu2.jpg">
            <div class="caption">
              <div class="box">
                <div class="box_left">
                  <h5>456 KCal.</h5>
                </div>
                <div class="box_right">
                  <p class="small">SIIT Canteen</p>
                  <h5><a href="/#">ข้าวขาหมู</a></h5>
                  <p>Protein:  17.1 กรัม</p>
                  <p>Carbohydrate:  55.5 กรัม</p>
                  <p>Fat:  20.1 กรัม</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapsible-body">

              <p>ขาหมู 1 ขา</p>
              <p>เห็ดหอม 100 กรัม (หรือผักชนิดอื่นก็ได้)</p>
              <p>ไข่ 4 ฟอง</p>
              <p>รากผักชี 3 ต้น</p>
              <p>ซิอิ๊วขาว 3 ช้อนโต๊ะ</p>
              <p>ซิอิ๊วดำ 1 ช้อนโต๊ะ</p>
              <p>น้ำตาล 4 ช้อนโต๊ะ</p>
              <p>ผงพะโล้ 1/2 ช้อนชา</p>
              <p>กระเทียมบด 3 กลีบ</p>
              <p>พริกไทยเม็ดบด 1 ช้อนชา</p>
              <p>น้ำมันพืช 1 ช้อนโต๊ะ</p>
              <p>น้ำเปล่า 3 ถ้วยตวง</p>
              <p>ผักชีสำหรับแต่งอาหาร</p>

          </div>
        </li>
      </ul>


      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="product collapsible-header">
            <img ng-src="images/menu4.jpg">
            <div class="caption">
              <div class="box">
                <div class="box_left">
                  <h5>445 KCal.</h5>
                </div>
                <div class="box_right">
                  <p class="small">SIIT Canteen</p>
                  <h5><a href="/#">ไข่เจียว</a></h5>
                  <p>Protein:27.9 กรัม</p>
                  <p>Carbohydrate:140กรัม</p>
                  <p>Fat:54.5กรัม</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapsible-body"><p>ไข่ไก่หรือไข่เป็ด 2 ฟอง
            (ตอกใส่ถ้วยและคนให้ไข่แดงและไข่ขาวเข้ากัน)</p></div>
        </li>
      </ul>

    </div>


    <!-- Bottom row -->
    <div class="row col s12 m9 offset-m3">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="product collapsible-header">
            <img ng-src="images/menu5.jpg">
            <div class="caption">
              <div class="box">
                <div class="box_left">
                  <h5>597 Kcal.</h5>
                </div>
                <div class="box_right">
                  <p class="small">SIIT Canteen</p>
                  <h5><a href="/#">ข้าวมันไก่</a></h5>
                  <p>Protein:19.5 กรัม</p>
                  <p>Carbohydrate:74.4 กรัม</p>
                  <p>Fat:24.6 กรัม</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapsible-body">
            <p>ไก่ 1 ตัว</p>
            <p>ข้าวหอมมะลิ 5 ถ้วยตวง</p>
            <p>กระเทียม 5 กลีบ</p>
            <p>ขิงขนาดปานกลาง 1 ชิ้น</p>
            <p>เกลือ 1 ช้อนโต๊ะ</p>
            <p>ผักชี(สำหรับแต่งหน้าอาหาร)</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
