<!--tabs-->
<div class="row">
    <div class = "col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#tab1">เมนูยอดนิยม</a></li>
        <li class="tab col s3"><a href="#tab2">เมนูควบคุมน้ำหนัก</a></li>
        <li class = "tab col s3"><a href="#tab3">เมนูสุขภาพดี๊ดี</a><li>
      </ul>
    </div>
  </div>
<div class="container" ng-controller="courtsCtrl" style="margin-top:50px;">

  <span class="grey-text light" style="font-size:48px;">UFM Menu</span>
  <div class="row">
    <!-- Left Column -->
    <div class="row col s12 m5">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="product collapsible-header">
            <img ng-src="images/menu1.jpg">
            <div class="caption">
              <div class="box">
                <div class="box_left">
                  <h5>580 KCal.</h5>
                </div>
                  <div class="box_right">
              <p class="small">Dinner</p>
              <h5><a href="#">Fresh pasta</a></h5>
              <p>With garlic, capers, chilli, fennel, parsley</p>
                  </div>
              </div>
            </div>
          </div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
      </ul>

      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="product collapsible-header">
            <img ng-src="images/menu3.jpg">
            <div class="caption">
              <div class="box">
                <div class="box_left">
                  <h5>200 KCal.</h5>
                </div>
                <div class="box_right">
              <p class="small">Dinner</p>
              <h5><a href="/#">Caprese Salad</a></h5>
              <p>Easy, impressive and delicious</p>
              </div>
            </div>
          </div>
        </div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
      </ul>
    </div>



    <!-- Right Column -->
    <div class="row col s12 m5 offset-m1">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
      <div class="product collapsible-header">
        <img ng-src="images/menu2.jpg">
        <div class="caption">
          <div class="box">
            <div class="box_left">
              <h5>320 KCal.</h5>
            </div>
            <div class="box_right">
              <p class="small">Breakfast</p>
              <h5><a href="/#">Deap Fried</a></h5>
              <p>With lemon & a traditional carbonara sauce</p>
            </div>
          </div>
        </div>
      </div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
      </ul>


    <ul class="collapsible" data-collapsible="accordion">
      <li>
      <div class="product collapsible-header">
        <img ng-src="images/menu4.jpg">
        <div class="caption">
          <div class="box">
            <div class="box_left">
              <h5>320 KCal.</h5>
            </div>
            <div class="box_right">
              <p class="small">Breakfast</p>
              <h5><a href="/#">Chicken wings</a></h5>
              <p>Malaysian barbecue chicken wings</p>
            </div>
          </div>
        </div>
      </div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>

    </div>

    <!-- Bottom row -->

    <div class="row col s12 m9 offset-m3">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
    <div class="product collapsible-header">
        <img ng-src="images/menu5.jpg">
        <div class="caption">
          <div class="box">
            <div class="box_left">
              <h5>320 KCal.</h5>
            </div>
            <div class="box_right">
              <p class="small">Dinner</p>
              <h5><a href="/#">Italian Pasta</a></h5>
                <p>Served with herby breadcrumbs &amp; Parmesan</p>
            </div>
          </div>
        </div>
      </div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </div>
  </div>
</div>
